<% form_tag("/relationships", :method => "POST") %>
  <div>
    <div class="row py-md-2">
      <%= hidden_field_tag 'relationship[characterization_id]', characterization_id %>
      <div class="col">
        <label>Nombre</label> 
        <%= select_tag('relationship[actor_id]', options_for_select(actors_select.collect{|x| [x.name,x.id]}), {class: "selectpicker form-control"}) %>
      </div>
      <div class="col">
        <label>Tipo de participacion </label>
        <%= select_tag('relationship[participation_type]', options_for_select([['Actor beneficiado'], ['Actor de conocimiento'], ['Actor denunciante'], ['Actor involucrado'], ['No disponible']]), {class: "selectpicker form-control"}) %>
      </div>
    </div>
    <div class="py-md-2">
      <button class="btn btn-primary">Agregar actor</button>
    </div>
  </div>