<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo de participacion</th>
      <th scope="col">Institucion</th>
      <th scope="col">Cargo</th>
      <th scope="col">Rama del poder</th>
      <th scope="col">Autoridad publica</th>
      <th scope="col">Partido politico</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Nombre</td>
      <td>tipo</td>
      <td>institucion</td>
      <td>cargo</td>
      <td>rama</td>
      <td>autoridad</td>
      <td>pp</td>
      <td>editar/eliminar</td>
    </tr>
    <tr>
      <th scope="row">2</th>
        <td>Nombre</td>
      <td>tipo</td>
      <td>institucion</td>
      <td>cargo</td>
      <td>rama</td>
      <td>autoridad</td>
      <td>pp</td>
      <td>editar/eliminar</td>
    </tr>
  </tbody>
</table>