<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex justify-content-between">
  <a class ="navbar-brand d-flex" href="/admin">
    <%= image_tag("logo_tpc.png", class: "img-logo", style: "width: 140px")%>
      <div class="text-center d-flex justify-content-center mt-3">
        <span class="text-center h6 header-title">
          <strong><%= t(:title) %></strong>
        </span>
      </div>
  </a>
  <% if user_signed_in? %>
    <%= link_to('Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-primary text-right') %>        
  <% end %>
</nav>