<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class ="navbar-brand d-flex" href="/admin">
    <%= image_tag("logo_tpc.png", class: "img-logo", style: "width: 140px")%>
      <div class="text-center d-flex justify-content-center mt-3">
        <span class="text-center h6">
          <strong><%= t(:title) %></strong>
        </span>
      </div>
  </a>
</nav>