<div class="container-fluid">
  <div class="row py-md-4">
    <div class="col-md">
      <div>
        <label for="">Tipos de Corrupción</label>
      </div>
      <select id="corruption-types" class="selectpicker" multiple>
        <option>Corrupcion Administrativa</option>
        <option>Corrupcion Gris</option>
        <option>Corrupcion Judicial</option>
      </select>  
    </div>
    <div class="col-md">
      <div>
        <label for="">Ambito Afectado</label>
      </div>
      <select id="corruption-types" class="selectpicker" multiple>
        <option>Corrupcion Administrativa</option>
        <option>Corrupcion Gris</option>
        <option>Corrupcion Judicial</option>
      </select>  
    </div>
    <div class="col-md">
      <div>
        <label for="">Sector Afectado</label>
      </div>
      <select id="corruption-types" class="selectpicker" multiple>
        <option>Corrupcion Administrativa</option>
        <option>Corrupcion Gris</option>
        <option>Corrupcion Judicial</option>
      </select>  
    </div>
  </div>
  <div class="row py-md-4">
    <div class="col-md">
      <div>
        <label for="">Derechos presuntamentes vulnerados</label>
      </div>
      <select id="corruption-types" class="selectpicker" multiple>
        <option>Corrupcion Administrativa</option>
        <option>Corrupcion Gris</option>
        <option>Corrupcion Judicial</option>
      </select>  
    </div>
    <div class="col-md">
      <div>
        <label for="">Clase de presunta responsabilidad</label>
      </div>
      <select id="corruption-types" class="selectpicker" multiple>
        <option>Corrupcion Administrativa</option>
        <option>Corrupcion Gris</option>
        <option>Corrupcion Judicial</option>
      </select>  
    </div>
    <div class="col-md">
      <div>
        <label for="">Presunto delito</label>
      </div>
      <select id="corruption-types" class="selectpicker" multiple>
        <option>Corrupcion Administrativa</option>
        <option>Corrupcion Gris</option>
        <option>Corrupcion Judicial</option>
      </select>  
    </div>
  </div>

  <div class="row">
    <div class="w-30 px-md-3">
      <p>el material probatorio y/o información enviado por el usuario en el reporte es suficiente para formular la denuncia?</p>
      <div class="form-check form-check-inline pr-md-5">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
    </div>
  </div>
</div>


