<section>
  <table class="table mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Actor investigador</th>
        <th scope="col">Tipo de investigaci贸n</th>
        <th scope="col">Etapa procesal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Actor investigador</td>
        <td>Tipo de investigaci贸n</td>
        <td>Etapa procesal</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Actor investigador</td>
        <td>Tipo de investigaci贸n</td>
        <td>Etapa procesal</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Actor investigador</td>
        <td>Tipo de investigaci贸n</td>
        <td>Etapa procesal</td>
      </tr>
    </tbody>
  </table>
</section>
