<section class="main-content__body">
  <table class="col-md-12 table mb-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Actor investigador</th>
        <th scope="col">Tipo de investigaci贸n</th>
        <th scope="col">Etapa procesal</th>
        <th scope="col">Presunta falta</th>
        <th scope="col">Presunto delito</th>
        <th scope="col">Autoridad del conocimiento</th>
        <th scope="col">Situaci贸n del investigado</th>
        <th scope="col">Fecha de presentaci贸n de denuncia</th>
        <th scope="col">Fecha de sanci贸n</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div>
            <button class="btn btn-link">Consultar</button>
            <button class="btn btn-link">Eliminar</button>
            <button class="btn btn-link">Editar</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div>
            <button class="btn btn-link">Consultar</button>
            <button class="btn btn-link">Eliminar</button>
            <button class="btn btn-link">Editar</button>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div>
            <button class="btn btn-link">Consultar</button>
            <button class="btn btn-link">Eliminar</button>
            <button class="btn btn-link">Editar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
