<div class="modal fade" id="toolModal" tabindex="-1" role="dialog" aria-labelledby="Tool modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Herramienta de seguimiento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% form_tag("/tools", :method => "POST") %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">Herramientas legales utilizadas</label>
                <select class="custom-select">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">¿Se radicó ante la entidad o autoridad a la que iba dirigido?</label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Sí</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">No</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Entidad de destino</label>
                <select multiple class="custom-select">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <input type="text" class="form-control mt-3">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Fecha de radicación</label>
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Término legal para dar respuesta</label>
                <input type="date" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">¿Entidad o autoridad emitió la respuesta?</label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline1">Sí</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                  <label class="custom-control-label" for="customRadioInline2">No</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">Fecha de respuesta</label>
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label style="min-height: 50px;">Subir herramienta</label>
                <input type="file" class="form-control-file">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <button type="button" class="btn btn-primary">Agregar herramienta</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h5 class="modal-title my-5">Herramientas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table" aria-labelledby="tools-table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Herramienta legal</th>
                    <th scope="col">Radicación</th>
                    <th scope="col">Entidad de destino</th>
                    <th scope="col">Fecha de radicación</th>
                    <th scope="col">Término legal para dar respuesta</th>
                    <th scope="col">Respuesta</th>
                    <th scope="col">Fecha de respuesta</th>
                    <th scope="col">Opción</th>
                  </tr>
                </thead>
                <tbody>
                  <th scope="row">1</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Tools buttons">
                    <button class="btn btn-link">Editar</button>
                    <button class="btn btn-link">Borrar</button>
                    <button class="btn btn-link">Ver</button>
                    </div>
                  </td>
                </tbody>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>