.app-container {
  margin-top: 70px;
  .navigation__link--active {
    color: #007bff;
  }
} 

.search {
  display: flex;
  align-items: center;
}

.w-30{
  width: 30%;
}

input:focus, textarea:focus, select:focus{
  outline: none !important;
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 80vw !important;
  }
}

.modal-content{
  width: 80vw !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
  width: 100% !important;
}

.hide{
  display: none !important;
}