.app-container {
  margin-top: 70px;
  .navigation__link--active {
    color: #007bff;
  }
} 

.search {
  display: flex;
  align-items: center;
}

.w-30{
  width: 30%;
}

input:focus, textarea:focus, select:focus{
  outline: none !important;
}