<section class="main-content__body">
  <div class="row">
    <table class="table" aria-labelledby="advisories-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Tipo de respuesta</th>
          <th scope="col">Resumen</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>15/12/1990</td>
          <td>Escrita</td>
          <td>Resumen...</td>
          <td>
          <button class="btn btn-primary" data-toggle="modal" data-target="#toolModal">
            Agregar herramienta
          </button>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>15/12/1990</td>
          <td>Escrita</td>
          <td>Resumen...</td>
          <td>Hola</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>15/12/1990</td>
          <td>Escrita</td>
          <td>Resumen...</td>
          <td>Hola</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>