<section class="main-content__body">
  <div class="text-primary font-weight-bold mb-3">
    Asesoría legal
  </div>
  <%= form_with(url: '/admin/advisories', model: advisory, method: "post") do %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label style="min-height: 50px;">Fecha del seguimiento:</label>
          <%= date_field("advisory[tracking_date]",  { :html => :class => "form-control" }) %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label style="min-height: 50px;">Tipo de respuesta que se dio al reportante:</label>
          <select multiple class="form-control">
            <option>Escrita</option>
            <option>Telefónica</option>
            <option>Personal</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label style="min-height: 50px;">Cuadro del resumen de la actuacion:</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
             <%= submit_tag("Crear seguimiento", :class =>"btn btn-primary") %>
      </div>
    </div>
  <% end %>
</section>