<div class="bg-primary text-white p-3 font-weight-bold">
  Asesoría legal
</div>

<section class="main-content__body">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label style="min-height: 50px;">Fecha del seguimiento:</label>
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label style="min-height: 50px;">Tipo de respuesta que se dio al reportante:</label>
        <select multiple class="form-control">
          <option>Escrita</option>
          <option>Telefónica</option>
          <option>Personal</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label style="min-height: 50px;">Cuadro del resumen de la actuacion:</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary">Crear / Editar seguimiento</button>
    </div>
  </div>
</section>